*{
    background-color: beige;
     
    
}
a{
   color: rgb(0, 0, 0);
   font-size: 25px;
}
h1{
    font-size: 18px;
}
input::placeholder{
    color:#090a0c;
    font-size: 15px;
    width: 50px;
    height: 30px;

}
.modal-body{
    
}